.users__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 var(--spacing-medium);
    gap: var(--spacing-large);
}
.users__item {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 250px;
    background-color: var(--color-light);
    list-style: none;
    transition: transform .5s;
    cursor: pointer;
}
.users__item:hover {
    transform: rotateZ(-5deg) scale(0.92);
    filter: saturate(1.4);
}
.users__name {
    margin: auto;
    padding: var(--spacing-small);
    text-align: center;
}
/* .users__img {
} */