:root {
    --color-blue: #3199dc;
    --color-dark: #222222;
    --color-semi-dark: dimgray;
    --color-light: #f8f9fa;

    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
}
*, 
::after, 
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
    font-size: 16px;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;    
}
* {
    scrollbar-color: var(--color-blue) var(--color-semi-dark);
    /* scrollbar-highlight-color: blueviolet; */
    /* scrollbar-width: thin; */
}
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    /* background-color: brown rebeccapurple; */
}
::-webkit-scrollbar-track {
    background-color: var(--color-semi-dark);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border-radius: 7px;
    border: var(--color-semi-dark) solid 3px;
}