:root {
    --color-blue: #3199dc;
    --color-dark: #222222;
    --color-semi-dark: dimgray;
    --color-light: #f8f9fa;

    --spacing-small: 10px;
    --spacing-medium: 20px;
    --spacing-large: 30px;
}
*, 
::after, 
::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color-dark);
    font-size: 16px;
    line-height: 1.7;
    font-family: Arial, Helvetica, sans-serif;    
}
* {
    scrollbar-color: var(--color-blue) var(--color-semi-dark);
    /* scrollbar-highlight-color: blueviolet; */
    /* scrollbar-width: thin; */
}
::-webkit-scrollbar {
    width: 14px;
    height: 14px;
    /* background-color: brown rebeccapurple; */
}
::-webkit-scrollbar-track {
    background-color: var(--color-semi-dark);
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-blue);
    border-radius: 7px;
    border: var(--color-semi-dark) solid 3px;
}
:global(.wrapper__modal) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(3, 3, 3, 0.5);
}
:global(.container__modal) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 1000px;
    width: 80%;
    height: 600px;
    margin: auto;
    padding: var(--spacing-large);
    background-color: burlywood;
    overflow: auto;
}
:global(.error__fullscreen) {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: burlywood;
}
:global(.error__miniscreen) {
    display: flex;
    justify-content: center;
    margin: auto;
}