.repo__info {
    color: brown;
}
.repo__fields {
    
}
.repo__field {
    
}
.repo__field:nth-child(n+6) {
    display: none;
}
.repo__key {

}
.repo__value {

}
.repo__show-more {
}
.repo__show-less {
    display: none;
}